useDynLib(cusp)
import(stats)
import(graphics)
import(grDevices)
import(utils)

export(cusp.bifset, cusp.extrema, cusp.logist, cusp, cusp3d, cusp3d.surface, dcusp, draw.cusp.bifset, pcusp,
       plotCuspBifurcation, plotCuspResidfitted, plotCuspDensities, qcusp, rcusp)

S3method(confint, cusp)
S3method(plot, cusp)
S3method(predict, cusp)
S3method(print, cusp)
S3method(print, summary.cusp)
S3method(summary, cusp)
S3method(vcov, cusp)

